<p class="hint">
  Pick an appointment date for speciality: {{ specialitate }}
</p>

<cih-card [dates]="dates" (datePicked)="datePicked($event)">
</cih-card>
<br>
<div *ngIf="dataAleasa" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ data.data }} {{ data.luna }}</h1>
    <p class="lead">Alegeti ora.</p>
    <div class="row">
      <ng-container *ngFor="let t of time; let i = index">
        <div class="col-md-3">
            <div
              (click)="pickTime(t)" 
              [class.unavailable]="!t.available"
              [class.timeHighlighted]="t === timePicked"
              class="alert alert-light" role="alert">
              {{ t.key }}
            </div>
        </div>
        <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
      </ng-container>
    </div>
    <appointment-form *ngIf="timePicked"
    [data]="data.key"
    [specialitate]="specialitate"
    [ora]="timePicked.key">
    </appointment-form>
  </div>
</div>