<p class="lead">Completati formularul pentru programare</p>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group">
    <label for="nume">Nume</label>
    <input #nume="ngModel" ngModel name="nume" id="nume" class="form-control" required>
  </div>
  <div *ngIf="nume.touched && nume.invalid" class="alert alert-danger">
    <p>Numele este necesar</p>
  </div>

  <div class="form-group">
    <label for="prenume">Prenume</label>
    <input #prenume="ngModel" ngModel name="prenume" id="prenume" class="form-control" required>
  </div>
  <div *ngIf="prenume.touched && prenume.invalid" class="alert alert-danger">
    <p>Prenumele este necesar</p>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input #email="ngModel" ngModel name="email" id="email" class="form-control" required>
  </div>
  <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
    <p>Emailul este necesar</p>
  </div>

  <button 
    [disabled]="!(nume.valid && prenume.valid)"
    type="submit" 
    id="skr"
    class="btn btn-primary">
    Submit
  </button>
</form>