<p class="hint">
    Pick an appointment date for speciality: {{ specialitate }}
</p>

<cih-card [dates]="dates" (datePicked)="datePicked($event)">
</cih-card>
<br>
<div *ngIf="dataAleasa" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ data.data }} {{ data.luna }}</h1>
        <p class="lead">Programarile pentru aceasta data:</p>
        <div class="row">
            <ng-container *ngFor="let inr of inregistrari; let i = index">
                <div
                    *ngIf="!inr.available" 
                    class="col-md-6">
                    <p class="time">{{ inr.t }}</p>
                    <p class="name">Andrei Viosle</p>
                    <p class="email">Avsler@gmail.com</p>
                    <br>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>