<div class="components">
    <div class="header">
      <h1>Admitere Colegiul Iulia Hasdeu</h1>
      <hr>  
    </div>
    
    <div class="alert alert-danger cihComponent informatii" role="alert">
      Informatii <b>covid</b> masca etc etc etc
    </div>
  
    <a href="#">
      <div class="cihComponent programare">
        <h3>Programare depunere acte</h3>
      </div>
    </a>
  
    <div class="alert alert-light cihComponent regulament" role="alert">
      <h3>Referinte regulament</h3>
      <p>
        <a href="#">Regulament 1</a> &nbsp;
        <a href="#">Regulament 2</a> &nbsp;
      </p>
    </div>
  
  </div>