<br>
<p class="hint">Alegeti speciliatatea</p>

<a [routerLink]="['/data', 'contabilitate']">
    <div class="cihComponent cihButton">
        <h4>Contabilitate</h4>
    </div>
</a>

<a [routerLink]="['/data', 'ecologie']">
    <div class="cihComponent cihButton">
        <h4>Ecologie</h4>
    </div>
</a>

<a [routerLink]="['/data', 'papp']">
    <div class="cihComponent cihButton">
        <h4>Programarea si analiza produselor program</h4>
    </div>
</a>

<a [routerLink]="['/data', 'aaw']">
    <div class="cihComponent cihButton">
        <h4>Administrarea Aplicatiilor WEB</h4>
    </div>
</a>

<a [routerLink]="['/data', 'invatamantPrimar']">
    <div class="cihComponent cihButton">
        <h4>Invatamant primar</h4>
    </div>
</a>